<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54274/ServiceContract.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceContract"
                contract="WebService.IServiceContract" name="BasicHttpBinding_IServiceContract" />
        </client>
    </system.serviceModel>
</configuration>