<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=(local);Database=Paperless;User Id=sa;Password=12345;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
 </system.webServer>
  <system.diagnostics>
    <switches>
      <!-- Trace       
      All: Logs all messages received
      Off: Does not log any messages
      Critical: Logs only messages that are deemed critical
      Error: Logs critical and error messages
      Warning: Logs critical, error, and warning messages
      Information: Logs critical, error, warning, and information messages
      Verbose:  Logs critical, error, warning, information, and verbose messages      
      -->
      <add name="System.Workflow.Runtime" value="Off" />
      <add name="System.Workflow.Runtime.Hosting" value="Off" />
      <add name="System.Workflow.Runtime.Tracking" value="Off" />
      <add name="System.Workflow.Activities" value="Off" />
      <add name="System.Workflow.Activities.Rules" value="Off" />
      <!-- Trace
      0 = off
      1 = on
      -->
      <add name="System.Workflow LogToTraceListeners" value="0" />
      <add name="TraceExceptions" value="1" />
      <add name="TraceLogApplicationBlock" value="1" />
      <add name="TraceCurrencyService" value="1" />
      <add name="TraceDeviceService" value="1" />
      <add name="TraceGuiService" value="1" />
      <add name="TraceGameLogicService" value="1" />
      <add name="TraceAdminService" value="1" />
      <add name="TraceIdleService" value="1" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
        <add name="TextWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PLS.trace.log" traceOutputOptions="DateTime" />
        <!--add name="CashierTraceListener" type="IgKiosk.Library.ObservableTraceListener,IgKioskLibrary" />
        <add name="LoadingScreenTraceListener" type="IgKiosk.Library.ObservableTraceListener,IgKioskLibrary" />
        <add name="TopScreenTraceListener" type="IgKiosk.Library.ObservableTraceListener,IgKioskLibrary" /-->
      </listeners>
    </trace>
  </system.diagnostics>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Formatted EventLog TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="Paperless" formatter="Text Formatter" log="Application" machineName="" traceOutputOptions="LogicalOperationStack" filter="All" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" type="LogManager.Implementor.LogTraceListener, LogManagerImplementor, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" name="LogTraceListener" initializeData="" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" type="LogManager.Implementor.EmailTraceListener, LogManagerImplementor, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" name="EmailTraceListener" initializeData="" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Activity">
        <listeners>
          <add name="LogTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="ExceptionsAndErrors">
        <listeners>
          <add name="EmailTraceListener" />
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
</configuration>
