<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=(local);Database=Paperless;User Id=sa;Password=Soporte2013;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
 </system.webServer>








  <system.diagnostics>
    <switches>
      <!-- Trace       
      All: Logs all messages received
      Off: Does not log any messages
      Critical: Logs only messages that are deemed critical
      Error: Logs critical and error messages
      Warning: Logs critical, error, and warning messages
      Information: Logs critical, error, warning, and information messages
      Verbose:  Logs critical, error, warning, information, and verbose messages      
      -->
      <add name="System.Workflow.Runtime" value="Off" />
      <add name="System.Workflow.Runtime.Hosting" value="Off" />
      <add name="System.Workflow.Runtime.Tracking" value="Off" />
      <add name="System.Workflow.Activities" value="Off" />
      <add name="System.Workflow.Activities.Rules" value="Off" />
      <!-- Trace
      0 = off
      1 = on
      -->
      <add name="System.Workflow LogToTraceListeners" value="0" />
      <add name="TraceExceptions" value="1" />
      <add name="TraceLogApplicationBlock" value="1" />
      <add name="TraceCurrencyService" value="1" />
      <add name="TraceDeviceService" value="1" />
      <add name="TraceGuiService" value="1" />
      <add name="TraceGameLogicService" value="1" />
      <add name="TraceAdminService" value="1" />
      <add name="TraceIdleService" value="1" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <remove name="Default" />
        <add name="TextWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PLS.trace.log" traceOutputOptions="DateTime" />
      </listeners>
    </trace>
  </system.diagnostics>
  
  
</configuration>
